<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Personal Library</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<div style="background: url('/static/library_002.jpg') center center; background-size: cover; background-attachment: fixed; height: 100vh; overflow: hidden;">
	<div class="container">
		{% for category, message in get_flashed_messages(with_categories=True) %}
		<div class="alert alert-{{ category }}">{{ message }}</div>
		{% endfor %}

		<div class="nav nav-justified bg-secondary">
			<a class="nav-link text-white" href="/">Home</a>
			{% if user %}
				<a class="nav-link text-white" href="/users/{{user.id}}/books">Browse Collection</a>
				<a class="nav-link text-white" href="/users/{{user.id}}/tags">Browse Tags</a>
				<form action="/books/search" method="post" id="isbn-search">
					<input type="text" maxlength="13" name="isbn" id="isbn" placeholder="ISBN">
					<button class="btn btn-dark">Search</button>
				</form>
				<a class="nav-link text-white justify-content-end" href="/logout">Logout</a>
			{% endif %}
			{% if not user %}
				<button type="button" class="btn nav-link text-white" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
				<button type="button" class="btn nav-link text-white" data-bs-toggle="modal" data-bs-target="#signupModal">Signup</button>
			{% endif %}
		</div>

		{% if login_form %}	{% include "login-modal.html" %} {% endif %}
		{% if signup_form %} {% include "signup-modal.html" %} {% endif %}

		<div class="bg-white" style="height: 90vh; overflow-y: auto; overflow-x: hidden;">
		{% block content %}
		{% endblock %}
		</div>

	</div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>